<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="container mt-4">
    <h1>Login</h1>
    <div th:if="${param.success}" class="alert alert-success">
        You successfully registered. Please use your credentials to log in.
    </div>
    <div th:if="${param.error}" class="alert alert-danger">
        Login or password incorrect.
    </div>
    <div th:if="${param.logout}" class="alert alert-info">
        You've been logged out.
    </div>
    <form th:action="@{/login}" method="post" class="mt-4">
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" id="username" type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <a href="/" class="btn btn-link mt-3">Main page</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
